* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  color: #212427;
}

.gridMenu {
  margin-top: 50px;
}

#gridArea{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridItem {
  border: 1px lightgray solid;
  box-sizing: border-box;
}

.selected {
  background-color: black;
}

.gridSizeSelector {
  text-align: center;
  margin-top: 40px;
}

#selectorText{
  font-size: 20px;
  font-weight: 600;
  color: #212427;
}

#slider {
  width: 60%;
  height: 20px;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

#slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: 35px;
  width: 35px;
  background-color: #212427;
  border-radius: 50%;
  border: 7px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  margin-top: 30px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}