* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  color: #212427;
}

.gridMenu {
  margin-top: 50px;
}

#gridArea{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridItem {
  border: 1px lightgray solid;
  box-sizing: border-box;
}

.selected {
  background-color: black;
}